<h1><%= t ".title" %></h1>
<p><%= t ".sub_title" %></p>
  <%= link_to t(".title"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t ".expiration" %></p>
<p><%= t ".warning" %></p>
